apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: robot-shop-allow-ingress
  namespace: {{ .Release.Namespace }}
  labels:
    app: robot-shop
    component: ingress
spec:
  podSelector:
    matchExpressions:
    - key: service
      operator: In
      values: ["web"]
  policyTypes:
  - Ingress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          name: ingress-nginx
    ports:
    - protocol: TCP
      port: 8080
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: robot-shop-allow-acme-solver
  namespace: {{ .Release.Namespace }}
  labels:
    app: robot-shop
    component: acme-solver
spec:
  podSelector:
    matchLabels:
      acme.cert-manager.io/http01-solver: "true"
  policyTypes:
  - Ingress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          name: ingress-nginx
    ports:
    - protocol: TCP
      port: 8089
