apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: robot-shop-allow-ingress
  namespace: {{ .Release.Namespace }}
  labels:
    app: robot-shop
    component: ingress
spec:
  podSelector:
    matchLabels:
      service: web
  policyTypes:
  - Ingress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          name: ingress-nginx
    ports:
    - protocol: TCP
      port: 8080
