apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "robot-shop.fullname" . }}-allow-ingress
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "robot-shop.labels" . | nindent 4 }}
    component: ingress
spec:
  podSelector:
    matchLabels:
      service: web
  policyTypes:
  - Ingress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          name: ingress-nginx
    ports:
    - protocol: TCP
      port: 8080
