apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "robot-shop.fullname" . }}-allow-prometheus
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "robot-shop.labels" . | nindent 4 }}
    component: monitoring
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          name: monitoring
    ports:
    - protocol: TCP
      port: 8080
    - protocol: TCP
      port: 9090
