apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: robot-shop-allow-ingress
  namespace: {{ .Release.Namespace }}
  labels:
    app: robot-shop
    component: ingress
spec:
  podSelector:
    matchExpressions:
    - key: service
      operator: In
      values: ["web"]
    - key: acme.cert-manager.io/http01-solver
      operator: In
      values: ["true"]
  policyTypes:
  - Ingress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          name: ingress-nginx
    ports:
    - protocol: TCP
      port: 8080
  - from:
    - namespaceSelector:
        matchLabels:
          name: ingress-nginx
    ports:
    - protocol: TCP
      port: 8089
