image:
  repository: robotshopacr.azurecr.io/dispatch
  tag: latest
  pullPolicy: Always
service:
  type: ClusterIP
  port: 55555
resources:
  requests:
    cpu: 30m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi
