apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
  labels:
    service: {{ .Chart.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: http
    port: {{ .Values.service.port }}
    targetPort: 8080
  - name: metrics
    port: 9090
    targetPort: 9090
  selector:
    service: {{ .Chart.Name }}
