apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: acr-secret-provider
  namespace: robot-shop
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "ddc74a4b-f295-4218-80d4-b05216d23270"
    keyvaultName: "robot-shop-kv"
    cloudName: ""
    objects: |
      array:
        - |
          objectName: acr-username
          objectType: secret
        - |
          objectName: acr-password
          objectType: secret
  secretObjects:
  - secretName: acr-secret
    type: kubernetes.io/dockerconfigjson
    data:
    - objectName: acr-username
      key: username
    - objectName: acr-password  
      key: password
