image:
  repository: mysql
  tag: "8.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3306

resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1Gi

env:
  - name: MYSQL_ROOT_PASSWORD
    value: "root"
  - name: MYSQL_DATABASE
    value: "cities"
