image:
  repository: mysql
  tag: "5.7"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3306

resources:
  requests:
    cpu: 50m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

env:
  - name: MYSQL_ROOT_PASSWORD
    value: "root"
  - name: MYSQL_DATABASE
    value: "cities"
