image:
  repository: robotshopacr.azurecr.io/cart
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

# Default autoscaling configuration
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70

resources:
  requests:
    cpu: 30m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi
