image:
  repository: robotshopacr.azurecr.io/web
  tag: latest
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 8080

# Default autoscaling configuration
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

# Vertical Pod Autoscaler
vpa:
  enabled: false
  updateMode: "Auto"  # Auto, Off, Initial
  minCpu: "5m"
  maxCpu: "500m"
  minMemory: "16Mi"
  maxMemory: "512Mi"

# Default ingress configuration  
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []

resources:
  requests:
    cpu: 30m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

eum:
  key: null
  url: https://eum-eu-west-1.instana.io

monitoring:
  serviceMonitor:
    enabled: true
    namespace: monitoring
    interval: 30s
    scrapeTimeout: 10s
    labels:
      release: monitoring-dev

psp:
  enabled: false
