image:
  repository: robotshopacr.azurecr.io/web
  tag: dev-f35465f6ca5fe3f0f5ed6d386bd1f5c9142af735
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 8080

resources:
  requests:
    cpu: 30m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

eum:
  key: null
  url: https://eum-eu-west-1.instana.io

psp:
  enabled: false
