image:
  repository: "{{ .Values.global.imageRegistry }}/web"
  tag: "{{ .Values.global.imageTag }}"
  pullPolicy: "{{ .Values.global.imagePullPolicy }}"

service:
  type: LoadBalancer
  port: 8080

resources:
  requests:
    cpu: 30m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

eum:
  key: null
  url: https://eum-eu-west-1.instana.io

psp:
  enabled: false
