global:
  environment: dev
  monitoring:
    enabled: true
    namespace: monitoring

alerts:
  enabled: true
  
dashboards:
  enabled: true

ingress:
  enabled: true
  className: nginx
  annotations: {}
  grafana:
    host: grafana.robot-shop-dev.com
  prometheus:
    host: prometheus.robot-shop-dev.com
