controller:
  service:
    type: LoadBalancer
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-health-probe-request-path: "/healthz"
  
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "10254"
  
  resources:
    requests:
      cpu: 100m
      memory: 90Mi
