image:
  repository: robotshopacr.azurecr.io/shipping
  tag: dev-f35465f6ca5fe3f0f5ed6d386bd1f5c9142af735
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 30m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 1Gi
