image:
  repository: robotshopacr.azurecr.io/shipping
  tag: latest  # Will be overridden by umbrella chart values
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 30m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 1Gi
# Vertical Pod Autoscaler
vpa:
  enabled: false
  updateMode: "Auto"
  minCpu: "5m"
  maxCpu: "200m"
  minMemory: "32Mi"
  maxMemory: "128Mi"
