image:
  repository: robotshopdevacrmtttm8.azurecr.io/shipping
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 30m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 1Gi
