name: Deploy Service

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
      image-tag:
        required: true
        type: string
      environment:
        required: true
        type: string
    secrets:
      AZURE_CREDENTIALS:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Get AKS credentials
        run: |
          az aks get-credentials \
            --resource-group robot-shop-${{ inputs.environment }}-rg \
            --name robot-shop-${{ inputs.environment }}-aks
      
      - name: Deploy to AKS
        run: |
          # Map service name to Helm chart name (mongo -> mongodb)
          CHART_NAME="${{ inputs.service-name }}"
          if [ "$CHART_NAME" = "mongo" ]; then
            CHART_NAME="mongodb"
          fi
          
          helm upgrade --install ${{ inputs.service-name }} ./helm-charts/${CHART_NAME} \
            --namespace robot-shop \
            --create-namespace \
            --set image.repository=robotshopdevacrmtttm8.azurecr.io/${{ inputs.service-name }} \
            --set image.tag=${{ inputs.image-tag }}
