name: Deploy Service

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
      image-tag:
        required: true
        type: string
      environment:
        required: true
        type: string
    secrets:
      AZURE_CREDENTIALS:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Get AKS credentials
        run: |
          az aks get-credentials \
            --resource-group robot-shop-${{ inputs.environment }}-rg \
            --name robot-shop-${{ inputs.environment }}-aks
      
      - name: Deploy to AKS
        run: |
          # Deploy using the main robot-shop Helm chart
          helm upgrade --install robot-shop ./helm \
            --namespace robot-shop \
            --create-namespace \
            --values ./helm/values-${{ inputs.environment }}.yaml \
            --set ${{ inputs.service-name }}.image.repository=robotshopdevacrmtttm8.azurecr.io/${{ inputs.service-name }} \
            --set ${{ inputs.service-name }}.image.tag=${{ inputs.image-tag }}
