name: user Service

on:
  workflow_call:
    inputs:
      image-tag:
        required: true
        type: string
      environment:
        required: true
        type: string
    secrets:
      AZURE_CREDENTIALS:
        required: true
  
  workflow_dispatch:
    inputs:
      image-tag:
        description: 'Image tag to deploy (commit SHA)'
        required: true
        type: string
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options:
          - dev
          - staging
          - production

jobs:
  deploy:
    uses: ./.github/workflows/deploy-service.yml
    with:
      service-name: user
      image-tag: ${{ inputs.image-tag }}
      environment: ${{ inputs.environment }}
    secrets: inherit
